In [1]:
import pandas as pd
import random

from sklearn.impute import KNNImputer

In [2]:
data=pd.read_csv('new_data.csv')
data.head()

,Unnamed: 0,Client_Name,Client_Description,Revenue,Expenses,Total_Assets,Total_Liabilities,Operating_Cash_Flow,Investments,Debt,Industry,Profit,Equity,Address,Website,Contact_Person,Email
0,0,Quantum Systems,Operations in retail,211193.55,1101594.02,4335149.10,1859964.43,794019.90,1605060.44,1973249.54,Healthcare,-890400.47,2475184.67,"123 Elm Street, Sunnydale, FL, 32014",quantumsystems.net,Patricia Williams,patricia.williams@email.com
1,1,Future Group,Operations in finance,1409138.24,1706054.21,3065987.34,3051435.56,1580695.66,320735.51,1479129.07,Healthcare,-296915.97,14551.78,"123 Elm Street, Rivertown, FL, 18964",futuregroup.net,Michael Davis,michael.davis@company.com
2,2,Green Group,Operations in technology,1565942.17,2050874.25,4472324.11,4249891.27,740335.51,660598.74,2832553.67,Retail,-484932.08,222432.84,"123 Elm Street, Sunnydale, FL, 25792",greengroup.co,Patricia Rodriguez,NaN
3,3,NaN,Operations in finance,4072945.71,2451948.79,NaN,934413.24,1260431.19,2448670.42,3499959.58,Finance,1620996.92,863450.60,"123 Cedar Lane, Hilltop, FL, 24703",zenithtechnologies.io,William Garcia,william.garcia@company.com
4,4,NaN,Operations in retail,NaN,2300823.95,1337366.20,2378513.94,695055.49,939971.85,NaN,NaN,307632.34,-1041147.74,"123 Oak Street, Lakeside, NY, 65149",pinnaclemotors.com,James Davis,james.davis@email.com

In [3]:
columns_array = data.columns.to_numpy()
columns_array

array(['Unnamed: 0', 'Client_Name', 'Client_Description', 'Revenue',
       'Expenses', 'Total_Assets', 'Total_Liabilities',
       'Operating_Cash_Flow', 'Investments', 'Debt', 'Industry', 'Profit',
       'Equity', 'Address', 'Website', 'Contact_Person', 'Email'],
      dtype=object)

In [4]:
data.drop(['Unnamed: 0','Address', 'Website', 'Contact_Person', 'Email'], axis = 1,inplace = True)
data.head()

,Client_Name,Client_Description,Revenue,Expenses,Total_Assets,Total_Liabilities,Operating_Cash_Flow,Investments,Debt,Industry,Profit,Equity
0,Quantum Systems,Operations in retail,211193.55,1101594.02,4335149.10,1859964.43,794019.90,1605060.44,1973249.54,Healthcare,-890400.47,2475184.67
1,Future Group,Operations in finance,1409138.24,1706054.21,3065987.34,3051435.56,1580695.66,320735.51,1479129.07,Healthcare,-296915.97,14551.78
2,Green Group,Operations in technology,1565942.17,2050874.25,4472324.11,4249891.27,740335.51,660598.74,2832553.67,Retail,-484932.08,222432.84
3,NaN,Operations in finance,4072945.71,2451948.79,NaN,934413.24,1260431.19,2448670.42,3499959.58,Finance,1620996.92,863450.60
4,NaN,Operations in retail,NaN,2300823.95,1337366.20,2378513.94,695055.49,939971.85,NaN,NaN,307632.34,-1041147.74

In [5]:
columns_to_impute = ['Revenue', 'Expenses', 'Total_Assets', 'Total_Liabilities', 'Operating_Cash_Flow', 'Investments', 'Debt']

In [6]:
knn_imputer = KNNImputer(n_neighbors=5)  # You can adjust the number of neighbors as needed

In [7]:
data[columns_to_impute] = knn_imputer.fit_transform(data[columns_to_impute])

In [8]:
data.isnull().sum()

Client_Name             998
Client_Description      981
Revenue                   0
Expenses                  0
Total_Assets              0
Total_Liabilities         0
Operating_Cash_Flow       0
Investments               0
Debt                      0
Industry                966
Profit                 1023
Equity                 1010
dtype: int64

In [9]:
numerical_columns = ['Revenue', 'Expenses', 'Total_Assets', 'Total_Liabilities', 'Operating_Cash_Flow', 'Investments', 'Debt']

In [10]:
data['Profit'] = data['Revenue'] - data['Expenses']
data['Equity'] = data['Total_Assets'] - data['Total_Liabilities']

In [11]:
data.isnull().sum()

Client_Name            998
Client_Description     981
Revenue                  0
Expenses                 0
Total_Assets             0
Total_Liabilities        0
Operating_Cash_Flow      0
Investments              0
Debt                     0
Industry               966
Profit                   0
Equity                   0
dtype: int64

In [12]:
categorical_columns = data.select_dtypes(exclude='number').columns
categorical_columns

Index(['Client_Name', 'Client_Description', 'Industry'], dtype='object')

In [13]:
for column in categorical_columns:
    # Define a list of unique values in the current column
    unique_values = data[column].unique()

    # Check if there are any NaN values in the current column
    if data[column].isnull().any():
        # Replace NaN values with random values from the list of unique values
        data[column].fillna(random.choice(unique_values), inplace=True)
    else:
        # If there are no NaN values in the column, inform the user
        print(f"No NaN values found in the '{column}' column.")

In [14]:
data.isnull().sum()

Client_Name            0
Client_Description     0
Revenue                0
Expenses               0
Total_Assets           0
Total_Liabilities      0
Operating_Cash_Flow    0
Investments            0
Debt                   0
Industry               0
Profit                 0
Equity                 0
dtype: int64

In [15]:
data.head()

,Client_Name,Client_Description,Revenue,Expenses,Total_Assets,Total_Liabilities,Operating_Cash_Flow,Investments,Debt,Industry,Profit,Equity
0,Quantum Systems,Operations in retail,211193.550,1101594.02,4335149.100,1859964.43,794019.90,1605060.44,1973249.540,Healthcare,-890400.470,2475184.670
1,Future Group,Operations in finance,1409138.240,1706054.21,3065987.340,3051435.56,1580695.66,320735.51,1479129.070,Healthcare,-296915.970,14551.780
2,Green Group,Operations in technology,1565942.170,2050874.25,4472324.110,4249891.27,740335.51,660598.74,2832553.670,Retail,-484932.080,222432.840
3,Quantum Technologies,Operations in finance,4072945.710,2451948.79,7311059.538,934413.24,1260431.19,2448670.42,3499959.580,Finance,1620996.920,6376646.298
4,Quantum Technologies,Operations in retail,1951368.162,2300823.95,1337366.200,2378513.94,695055.49,939971.85,2916427.966,Technology,-349455.788,-1041147.740

In [16]:
data.to_csv('finaldata.csv')